/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

.testClass {
  background-color: red;
  height: 20px;
  width: 20px;
}