/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */


body{
  background-color: white;
}

.container > svg{
  background-color: black;
  position: absolute;
}

.scoreboard{
  background-color: blue;
}

.enemy{
  color: green;
>>>>>>> origin/master
}